<div class="card mb-4" id="<%= data.idProducto %>" >
    <div class="row no-gutters">
        <div class="col-md-2">
            <% if(data.media != "" ){ %>
                <img src="<%- data.media %>" class="card-img" alt="...">
                <% }else{ %>
                    <img src="/Media/ing.webp" class="card-img" alt="...">
                    <% } %>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">
                    <%= data.nombre %>
                </h5>
                <p class="card-text">
                    <%= data.descripcion %>
                </p>
                <p class="card-text">
                    <small class="text-muted">
                <%= data.puntos %> 
            </small>
                    <div class="ec-stars-wrapper">
                        <form class="estrellas">
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <label for="radio1"><span class="material-icons">grade</span></label>

                                <input id="radio2" type="radio" name="estrellas" value="4">
                                <label for="radio2"><span class="material-icons">grade</span></label>

                                <input id="radio3" type="radio" name="estrellas" value="3">
                                <label for="radio3"><span class="material-icons">grade</span></label>

                                <input id="radio4" type="radio" name="estrellas" value="2">
                                <label for="radio4"><span class="material-icons">grade</span></label>

                                <input id="radio5" type="radio" name="estrellas" value="1">
                                <label for="radio5"><span class="material-icons">grade</span></label>
                            </p>
                        </form>
                    </div>
                </p>
            </div>
        </div>
        <div class="col-md-4 container">
            <div class="row">
                <div class="col-sm d-flex justify-content-end">
                    <div class="dropdown">
                        <button class="btn btn-ligth dropdown-toggle" type="button" id="compartir<%= data.idProducto %> " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="material-icons">
                                share
                            </span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm d-flex justify-content-end">
                    <button type="button" class="btn btn-ligth" aria-label="Close" onclick="remove(<%- data.idProducto %>) ">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>