<!DOCTYPE html>
<html lang="en">
<%- include('component/utilidades/header');%>
<%- include('component/utilidades/navegador');%>
<%if(data){
    var i = 0;
    var longitud = data.length;
%>
<script src="/Js/carrito.js"></script>
    <body onload="actualizarSumario(<%= longitud %>);">
    <div class="container justify-content-end">
    <%
        while(i < data.length){  %>
            <%- include('component/carrito/item', {data: data[i], indice: i, longitud: longitud});%>
            <% i++; 
        }%>
    <%- include('component/carrito/sumario', {data: data}); %>
    </div>
    </body>
    <%}else{%>
    <body>
        
    </body>
    <%}%>
    <%- include('component/utilidades/footer');%>
</html>