<!DOCTYPE html>
<html lang="en">
<%- include('component/utilidades/header');%>
    <%- include('component/utilidades/navegador', {session:session});%>

        <body>
            <div class="container">
                <div class="card mb-3">
                    <% if(data){ %>
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner ">
                                        <% 
                        if( data[0].media != ""){ %>
                                            <div class="carousel-item active">
                                                <img src="/<%= data[0].media %>" class="d-block card-img" alt="...">
                                            </div>
                                            <% } else{ %>
                                                <div class="carousel-item active">
                                                    <img src="/Media/ing.webp" class="d-block card-img" alt="...">
                                                </div>
                                                <% }
                        
                        if(media.length > 0){
                          for(var j = 1; j < media.length; j++){ %>
                                                    <div class="carousel-item">
                                                        <img src="/<%- media[j]['url'] %>" class="d-block card-img" alt="...">
                                                    </div>
                                                    <% } 
                        } %>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8 align-baseline">
                                <div class="col card-body h-75">
                                    <h5 class="card-title">
                                        <%= data[0].nombre%>
                                    </h5>
                                    <p class="card-text">
                                        <h4>
                                            <%= data[0].precio%>
                                        </h4>
                                    </p>
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text">
                                                <img src="https://imgmp.mlstatic.com/org-img/banners/ar/medios/125X125.jpg" title="Mercado Pago - Medios de pago" alt="Mercado Pago - Medios de pago" width="125" height="125" />
                                            </p>
                                        </div>
                                        <div class="col">
                                            <div class="row">Retiro local</div>
                                            <div class="row">Envios</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col card-footer h-25">
                                    <div class="btn-group rounded-0" role="group" aria-label="Third group">
                                        <%if(session.nombre != "none" && session.tipo != "none" && session.iduser != "none"){%>
                                            <button type="button" class="btn btn-ligth-" data-toggle="modal" data-target="#favoritos">
                            <i class="material-icons">
                                favorite_border
                            </i>                              
                          </button>
                                            <button type="button" class="btn btn-ligth" onclick="addcarrito(<%= data[0].idProducto %>)">
                              <i class="material-icons">
                                add_shopping_cart
                              </i>
                          </button>
                                            <%}else{%>
                                                <a type="button" class="btn btn-ligth" href="">
                                                    <i class="material-icons">
                                favorite_border
                            </i>
                                                </a>
                                                <a type="button" class="btn btn-ligth" href="">
                                                    <i class="material-icons">
                              add_shopping_cart
                              </i>
                                                </a>
                                                <%}%>
                                    </div>

                                    <% if(data[0].stock >= 1){ %>
                                        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#compra">Comprar</button>
                                        <% }else{%>
                                            <h3><span class="badge badge-danger">Sin Stock</span></h3>
                                            <% }%>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="compra" tabindex="-1" role="dialog" aria-labelledby="compra" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <form action="http://localhost:3000/producto/pagar" method="post">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Comprar</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <!-- datas de compra -->
                                                <div class="card mb-3" style="max-width: 540px;">
                                                    <div class="row no-gutters">
                                                        <div class="col-md-4">
                                                            <% if(media.length < 0){ %>
                                                                <img src="<%- media[0]['url'] %>" class="card-img" alt="...">
                                                                <% }else{ %>
                                                                    <img src="/Media/ing.webp" class="card-img" alt="...">
                                                                    <% } %>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="card-body">
                                                                <h5 class="card-title">
                                                                    <%= data[0].nombre %>
                                                                </h5>
                                                                <p class="card-text">
                                                                    <input type="number" value="1" min="1" max="<%= data[0].stock %>" step="1" name="cantidad" />
                                                                </p>
                                                                <input type="hidden" value="<%= data[0].idProducto %>" name="id">
                                                                <input type="hidden" value="<%= data[0].nombre %>" name="nombre">
                                                                <input type="hidden" value="<%= data[0].precio %>" name="precio">
                                                                <input type="hidden" value="<%= data[0].stock %>" name="stock">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--  -->
                                                <script>
                                                    $("input[type='number']").inputSpinner();
                                                </script>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="modal fade" id="favoritos" tabindex="-1" role="dialog" aria-labelledby="favoritos" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <form action="" method="post">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Favoritos</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <!-- datas de compra -->
                                                <div class="card mb-3" style="max-width: 540px;">
                                                    <div class="row no-gutters">
                                                        <div class="col-md-4">
                                                            <% if(media.length < 0){ %>
                                                                <img src="<%- media[0]['url'] %>" class="card-img" alt="...">
                                                                <% }else{ %>
                                                                    <img src="/Media/ing.webp" class="card-img" alt="...">
                                                                    <% } %>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="card-body">
                                                                <h5 class="card-title">
                                                                    <%= data[0].nombre %>
                                                                </h5>
                                                                <p class="card-text">
                                                                    <input type="number" value="1" min="3" max="5" step="1" id="puntos" name="puntos" />
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--  -->
                                                <script>
                                                    $("input[type='number']").inputSpinner();
                                                </script>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="" class="btn btn-primary" onclick="addfavoritos(<%= data[0].idProducto %>)">Añadir</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </body>
        <%- include('component/utilidades/footer');%>

</html>