<div class="card mb-3" id="item-<%- indice %>">
    <div class="row no-gutters">
        <div class="col-md-2">
            <% if( data.media != "" ){ %>
                <img src="<%- data.media%>" class="card-img" alt="...">
            <% } else { %>
                <img src="/Media/ing.webp" class="card-img" alt="...">
            <% } %>
        </div>
        <div class="col-md-10 cuerpo">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="card-title">
                            <%= data.nombre %>
                        </h5>
                        <p class="card-text">
                            <a onclick="eliminar(<%- data.idProducto %>)">Eliminar</a>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p class="card-text">
                            <input type="hidden" name="" id="item-precio-<%= indice %>" value="<%= data.precio %>">
                            <input type="number" id="item-cantidad-<%= indice %>" value="<%- data.cantidad %>" min="1" max="<%- data.stock %>" step="1" onchange="incrementarCantidad(<%= indice %>, <%= data.idProducto %>, <%= longitud %>);"/>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p class="card-text">
                            <hr>
                            <h4 id="item-total-<%= indice %>">
                                <%- data.total %>
                            </h4>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>