<tr id="producto-<%- producto.idProducto %>">
  <td scope="row"><%= producto.idProducto %></td>
  <td><%= producto.nombre %></td>
  <td>$<%= producto.precio %></td>
  <td><%= producto.stock %></td>
  <td><%= producto.descripcion %></td>
  <td><%= producto.tipo %></td>
  <td>
    <img src="<%- producto.media %>" alt="" class="img-thumbnail">
  </td>
  <td>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#media<%= producto.idProducto %>">
      <span class="material-icons">
        collections
        </span>
    </button>

    <!-- Modal -->
    <div class="modal fade" id="media<%= producto.idProducto %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <% if(producto.imagenes.length > 0){ %>
              <section class="variable slider w-75">
              <%for (let i = 0; i < producto.imagenes.length; i++) {
                const element = producto.imagenes[i];
                %>
                  <div>
                    <img style="max-width: 300px;" src="<%= element.url %>">
                  </div>
                <%
              } %>
            <% } else {%>
              <div class="alert alert-info" role="alert">
                No hay imagenes adicionales!!
              </div>
            <%}%> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </td>
  <td>
    <a class="btn dropdown-item" href="/administrar/edit/<%- producto.idProducto %>">
      <span class="material-icons">
          edit
      </span>
    </a>
  </td>
  <td>
    <a class="btn dropdown-item" href="#" onclick="eliminarProducto(<%- producto.idProducto %>)">
      <span class="material-icons">
          close
      </span>
    </a>
  </td>
</tr>