<ul class="pagination">
    <% if(paginacion.paginaActual > 1){ %>
        <!-- prev-->
        <li class="page-item">
            <a class="page-link" onclick="cargarPagina(<%- parseInt(paginacion.paginaActual) - 1 %>)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    <%}%>

        <li class="page-item"><a class="page-link" onclick="cargarPagina(<%- parseInt(paginacion.paginaActual)-1 %>)"><%= parseInt(paginacion.paginaActual)-1 %></a></li>
        <li class="page-item active"><a class="page-link" onclick="cargarPagina(<%- parseInt(paginacion.paginaActual) %>)"><%= paginacion.paginaActual %></a></li>
        <li class="page-item"><a class="page-link" onclick="cargarPagina(<%- parseInt(paginacion.paginaActual)+1 %>")><%= parseInt(paginacion.paginaActual)+1 %></a></li>

    <% if(paginacion.paginaActual < paginacion.total){ %>
        <!-- prev-->
        <li class="page-item">
            <a class="page-link" onclick="cargarPagina(<%- parseInt(paginacion.paginaActual) + 1 %>)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    <%}%>
  </ul>